<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="/public/img/sites-icon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/public/css/media.css">
    <link rel="stylesheet" href="/public/css/nullstyle.css">
    <link rel="stylesheet" href="/public/css/fonts.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/telephone.css">
    <link rel="stylesheet" href="/public/css/video.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/about-us.css">
    <link rel="stylesheet" href="/public/css/calculator.css">
    <link rel="stylesheet" href="/public/css/product.css">
    <link rel="stylesheet" href="/public/css/contact.css">
    <link rel="stylesheet" href="/public/css/form.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <script src="public/js/scroll.js"></script>

    <title>GlobalHim</title>
</head>

<body>

    <script src="public/js/swiper.js"></script>
    <script defer src="public/js/script.js"></script>
    <script defer src="public/js/index.js"></script>
    <script defer src="public/js/calculator.js"></script>
    <script defer src="public/js/coolback.js"></script>

    <div class="header">
        <div class="header__container">
            <div class="header__logo">
                <a href="/">
                    <img src="/public/img/logo-header.png" class="logo-header" alt="">
                </a>
                <a href="/" class="header__logo_text">ГлобалХим</a>
            </div>
            <div class="header__navigation">
                <nav class="header__menu menu">
                    <ul class="menu__body">
                        <li class="menu__item">
                            <div id="about-us-header" href="#about-us" class="menu__link">О нас</a>
                        </li>
                        <li class="menu__item">
                            <div id="product-header" href="#product" class="menu__link">Продукция</a>
                        </li>
                        <li class="menu__item">
                            <div id="contact-header" href="#contact" class="menu__link">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__contact">
                <a href="tel: +79137424661"><svg class="contact__icon" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.625 17.1944C21.9167 17.1944 20.2639 16.9167 18.7222 16.4167C18.2361 16.25 17.6944 16.375 17.3194 16.75L15.1389 19.4861C11.2083 17.6111 7.52778 14.0694 5.56944 10L8.27778 7.69444C8.65278 7.30556 8.76389 6.76389 8.61111 6.27778C8.09722 4.73611 7.83333 3.08333 7.83333 1.375C7.83333 0.625 7.20833 0 6.45833 0H1.65278C0.902778 0 0 0.333333 0 1.375C0 14.2778 10.7361 25 23.625 25C24.6111 25 25 24.125 25 23.3611V18.5694C25 17.8194 24.375 17.1944 23.625 17.1944Z" fill="white"/>
                    </svg></a>
                <a href="tel: +79137424661" class="contact__mobile">+7 (913) 742 46-61</a>
            </div> 
        </div>
    </div>
    <div class="telphone">
        <a href=""></a>
        <a href="tel: +79137424661" class="telephone">
            <div class="telephone-container">
                <svg class="telephone-svg"  xmlns="http://www.w3.org/2000/svg" width="38" height="33" viewBox="0 0 38 33" fill="none">
                    <path d="M34.6821 21.441C32.3752 21.7171 30.0984 21.6093 27.9358 21.1833C27.2524 21.0369 26.5412 21.2932 26.0955 21.8602L23.5933 25.9075C17.9825 24.011 12.4398 19.8236 9.13747 14.645L12.4219 11.0938C12.8654 10.508 12.9279 9.75864 12.643 9.12692C11.6998 7.1282 11.0763 4.93902 10.8001 2.63217C10.6788 1.6194 9.73382 0.876473 8.72105 0.997728L2.23184 1.77466C1.21907 1.89591 0.0538912 2.49199 0.222301 3.89861C2.30834 21.322 18.5394 34.065 35.944 31.9812C37.2756 31.8218 37.6593 30.5774 37.5358 29.5458L36.7611 23.0754C36.6398 22.0626 35.6948 21.3197 34.6821 21.441Z" fill="white"/>
                  </svg>
            </div>
        </a>
    </div>
    <div class="main">
        <div class="main__container">
            <h2 class="main__title">ГлобалХим</h2>
            <p class="main__subtitle">Мы - молодая, но крайне <br> перспективная компания, <br> специализирующаяся на
                <br> различных <br> высокотехнологичных <br> составах, необходимых для <br> строительства.
            </p>
        </div>
    </div>
    <div class="about-us" id="about-us">
        <div class="about-us__container">
            <div class="about-us__top-container">
                <h2 class="about-us__title">О нас</h2>
                <p class="about-us__subtitle">Мы - молодая, но крайне перспективная компания, специализирующаяся на
                    различных высокотехнологичных составах, необходимых для строительства</p>
            </div>
            <div class="about-us__botton-container">
                <div class="about-us__card">
                    <div class="about-us__item">
                        <div class="about-us__ellipse">
                            <img class="about-us__image" src="/public/img/about-01.png" alt="">
                        </div>
                        <div class="about-us__heading">Наша цена</div>
                        <div class="about-us__text">Мы являемся лидерами в соотношении цена-качество среди аналогов в
                            своём ценовом сегменте.</div>
                    </div>
                </div>
                <div class="about-us__card">
                    <div class="about-us__item">
                        <div class="about-us__ellipse">
                            <img class="about-us__image" src="/public/img/about-02.png" alt="">
                        </div>
                        <div class="about-us__heading">Наш продукт</div>
                        <div class="about-us__text">Составы, предлагаемые нами, практически не имеют аналогов. Каждый
                            состав разработан для конкретной ситуации и произведены с соблюдением всех технических
                            правил, норм и особенностей.</div>
                    </div>
                </div>
                <div class="about-us__card">
                    <div class="about-us__item">
                        <div class="about-us__ellipse">
                            <img class="about-us__image" src="/public/img/about-03.png" alt="">
                        </div>
                        <div class="about-us__heading">Наши специалисты</div>
                        <div class="about-us__text">У нас работают лучшие специалисты, готовые помочь Вам с выбором,
                            если возникнут проблемы или вопросы.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="calculator">
        <div class="calculator-container">
            <h3 class="calculator_title">Калькулятор расчета стоимости</h3>
            <div class="calculator-input-container">
                <p class="title__inline">Количество материала:</p>                 
                <input type="number" min="0" max="200" value="100" id="square-input" class="calc_number-input calculate">
                <p class="title__inline">литров</p>                 
            </div>
            <input type="range" min="0" max="200" value="100" step="2" id="square-range" class="range-input styled-slider slider-progress calculate">
            <p class="calc-title">Итоговая стоимость:</p>
            <div class="total-price-container">
                <span class="value-total-price" id="total-price">0</span>
                <span class="rub-price">рублей</span>
            </div>
        </div>
    </div>
    <div class="product" id="product">
        <div class="product__container">
            <h2 class="product__title">Продукция</h2>
            <div class="product__slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="slide__thumb">
                                <img src="public/img/product/exol-4.png" alt="picture" class="slide__picture">
                            </div>
                            <div class="slide__text">
                                <div class="slide__text_title">Экол-ЭКС-4</div>
                                <div class="slide__text_desc">Смесь для опалубки с характерным не резким запахом,
                                    созданная без каких либо механических примесей.Используется перед заливкой бетона
                                    для обработки опалубки...</div>
                            </div>
                            <div class="slide__bottom">
                                <p class="slide_price">2140.00 руб / <br> 10 литров</p>
                                <a href="/product/exol-4.ejs" class="slide__btn">
                                    <div class="slide__button">
                                        <div class="button__link">
                                            <a href="/product/exol-4.ejs" class="link__btn">Подробнее</a>
                                        </div>
                                        <svg class="button__icon" width="31" height="16" viewBox="0 0 31 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M22.4216 0L21.0234 1.2975L27.2242 7.08109H0V8.91891H27.2242L21.0234 14.7025L22.4216 16L31 8L22.4216 0Z"
                                                fill="white" />
                                        </svg>
                                    </div>
                                </a>
                            </div> 
                        </div>
                        <div class="swiper-slide">
                            <div class="slide__thumb">
                                <img src="public/img/product/geoflex.png" alt="picture" class="slide__picture">
                            </div>
                            <div class="slide__text">
                                <div class="slide__text_title">Geoflex (для горного дела)</div>
                                <div class="slide__text_desc">Тугопластичная двухкомпонентная прочная смола на
                                    силикатной основе, применяемая для заполнения трещин...</div>
                            </div>
                            <div class="slide__bottom">
                                <p class="slide_price">2140.00 руб / <br> 10 литров</p>
                                <a href="/products/geoflex-mining.ejs" class="slide__btn">
                                    <div class="slide__button">
                                        <div class="button__link">
                                            <a href="/products/geoflex-mining.ejs" class="link__btn">Подробнее</a>
                                        </div>
                                        <svg class="button__icon" width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M22.4216 0L21.0234 1.2975L27.2242 7.08109H0V8.91891H27.2242L21.0234 14.7025L22.4216 16L31 8L22.4216 0Z" fill="white"/>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide__thumb">
                                <img src="public/img/product/geoflex.png" alt="picture" class="slide__picture">
                            </div>
                            <div class="slide__text">
                                <div class="slide__text_title">Geoflex (для строительства)</div>
                                <div class="slide__text_desc">Двухкомпонентная смола, применяемая для инъекционных
                                    работ. Медленно реагирует и при этом очень эластична...</div>
                            </div>
                            <div class="slide__bottom">
                                <p class="slide_price">2140.00 руб / <br> 10 литров</p>
                                <a href="/product/geofex-construction.ejs" class="slide__btn">
                                    <div class="slide__button">
                                        <div class="button__link">
                                            <a href="/product/geofex-construction.ejs" class="link__btn">Подробнее</a>
                                        </div>
                                        <svg class="button__icon" width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M22.4216 0L21.0234 1.2975L27.2242 7.08109H0V8.91891H27.2242L21.0234 14.7025L22.4216 16L31 8L22.4216 0Z" fill="white"/>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide__thumb">
                                <img src="public/img/product/geoflex.png" alt="picture" class="slide__picture">
                            </div>
                            <div class="slide__text">
                                <div class="slide__text_title">Geoflex (для строительства)</div>
                                <div class="slide__text_desc">Однокомпонентная смола коричневого цвета, применяемая без
                                    смешивания, не содержащая в своем составе пластификатора на фталатной основе...
                                </div>
                            </div>
                            <div class="slide__bottom">
                                <p class="slide_price">2140.00 руб / <br> 10 литров</p>
                                <a href="/product/geofex-construction-single.ejs" class="slide__btn">
                                    <div class="slide__button">
                                        <div class="button__link">
                                            <a href="/product/geofex-construction-single.ejs" class="link__btn">Подробнее</a>
                                        </div>
                                        <svg class="button__icon" width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M22.4216 0L21.0234 1.2975L27.2242 7.08109H0V8.91891H27.2242L21.0234 14.7025L22.4216 16L31 8L22.4216 0Z" fill="white"/>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide__thumb">
                                <img src="public/img/product/geoflex.png" alt="picture" class="slide__picture">
                            </div>
                            <div class="slide__text">
                                <div class="slide__text_title">Geoflex (добавка для бетона)</div>
                                <div class="slide__text_desc">Универсальная смазка для опалубки желтовато-коричневого
                                    цвета, облегчающая процесс отделения от бетона элементов конструкции...</div>
                            </div>
                            <div class="slide__bottom">
                                <p class="slide_price">2140.00 руб / <br> 10 литров</p>
                                <a href="/product/geoflex-concrete.ejs" class="slide__btn">
                                    <div class="slide__button">
                                        <div class="button__link">
                                            <a href="/product/geoflex-concrete.ejs" class="link__btn">Подробнее</a>
                                        </div>
                                        <svg class="button__icon" width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M22.4216 0L21.0234 1.2975L27.2242 7.08109H0V8.91891H27.2242L21.0234 14.7025L22.4216 16L31 8L22.4216 0Z" fill="white"/>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide__thumb">
                                <img src="public/img/product/geoflex.png" alt="picture" class="slide__picture">
                            </div>
                            <div class="slide__text">
                                <div class="slide__text_title">Geoflex (однокомпонентная)</div>
                                <div class="slide__text_desc">Однокомпонентная смола низкой вязкости, применяемая при
                                    закреплении гидроизоляции или деформированных и температурных швов...</div>
                            </div>
                            <div href="/views/product/geofex-single.ejs" class="slide__bottom">
                                <p class="slide_price">2140.00 руб / <br> 10 литров</p>
                                <a href="/product/geofex-single.ejs" class="slide__btn">
                                    <div class="slide__button">
                                        <div class="button__link">
                                            <a href="/product/geofex-single.ejs" class="link__btn">Подробнее</a>
                                        </div>
                                        <svg class="button__icon" width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M22.4216 0L21.0234 1.2975L27.2242 7.08109H0V8.91891H27.2242L21.0234 14.7025L22.4216 16L31 8L22.4216 0Z" fill="white"/>
                                        </svg>
                                    </div>
                                </a>
                            </>
                        </div>
                    </div>
                </div>
                <div class="slider__buttons">
                    <div class="slider__btn swiper-button-prev"></div>
                    <div class="slider__btn swiper-button-next"></div>
                </div>
            </div>
        </div>
        <div class="product__button_all">
            <a href="/products/product-all.ejs" class="button_all">
                <div class="button_all_btn">Показать всю продукцию</div>
            </a>
        </div>
        </div>
    </div>
    <div class="contact" id="contact">
        <div class="contact__container">
            <h2 class="contact__title">Контакты</h2>
            <div class="contact__flex">
                <div class="contact__email">
                    <svg class="contact__email_icon" width="56" height="46" viewBox="0 0 56 46" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.2 2H48.8C51.66 2 54 4.34 54 7.2V38.4C54 41.26 51.66 43.6 48.8 43.6H7.2C4.34 43.6 2 41.26 2 38.4V7.2C2 4.34 4.34 2 7.2 2Z"
                            stroke="#4B2DA6" stroke-width="3.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M54 7.19995L28 25.4L2 7.19995" stroke="#4B2DA6" stroke-width="3.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <p class="contact__email_text">zhigadlov29@gmail.com</p>
                </div>
                <div class="contact__tel">
                    <a href="tel: +79137424661"><svg class="contact__tel_icon" width="42" height="42"
                            viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M39.69 28.8867C36.82 28.8867 34.0433 28.42 31.4533 27.58C30.6367 27.3 29.7267 27.51 29.0967 28.14L25.4333 32.7367C18.83 29.5867 12.6467 23.6367 9.35667 16.8L13.9067 12.9267C14.5367 12.2733 14.7233 11.3633 14.4667 10.5467C13.6033 7.95667 13.16 5.18 13.16 2.31C13.16 1.05 12.11 0 10.85 0H2.77667C1.51667 0 0 0.56 0 2.31C0 23.9867 18.0367 42 39.69 42C41.3467 42 42 40.53 42 39.2467V31.1967C42 29.9367 40.95 28.8867 39.69 28.8867Z"
                                fill="#4B2DA6" />
                        </svg></a>
                    <a href="tel: +79137424661" class="contact__tel_link">+7 (913) 742 46-61</a>
                </div>
                <div class="contact__map">
                    <svg class="contact__map_icon" width="41" height="49" viewBox="0 0 41 49" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M39 20.5C39 34.8889 20.5 47.2222 20.5 47.2222C20.5 47.2222 2 34.8889 2 20.5C2 15.5935 3.9491 10.8879 7.41852 7.41852C10.8879 3.9491 15.5935 2 20.5 2C25.4065 2 30.1121 3.9491 33.5815 7.41852C37.0509 10.8879 39 15.5935 39 20.5Z"
                            stroke="#4B2DA6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M20.5 26.6666C23.9058 26.6666 26.6667 23.9057 26.6667 20.4999C26.6667 17.0942 23.9058 14.3333 20.5 14.3333C17.0943 14.3333 14.3334 17.0942 14.3334 20.4999C14.3334 23.9057 17.0943 26.6666 20.5 26.6666Z"
                            stroke="#4B2DA6" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <p class="contact__maps_text">630024, Новосибирская область, г. Новосибирск, ул. Мира, д. 41, помещ.
                        6
                    </p>
                </div>
            </div>
        </div>
        <div class="coolback__container">
            <div class="form-container">
                <p class="form__title">Форма обратной связи</p>
                <form action="/message" method="post" id="coolback" class="form_coolback">
                    <div class="input__name_container class_input_container">
                        <input required name="firstName" id="name" type="text" class="name_input class_input">
                        <label class="text__name_input text_input">Имя:</label>
                    </div>
                    <div class="input__email_container class_input_container">
                        <input required name="gmail" id="mail" type="email" class="email_input class_input">
                        <label class="text__email_input text_input">Email:</label>
                    </div>
                    <div class="input__tel_container class_input_container">
                        <input required name="tel" id="tel" type="tel" class="tel_input class_input" >
                        <label class="text__tel_input text_input">Телефон:</label>
                    </div>
                    <div class="input__problem_container class_input_container">
                        <textarea name="message" id="message" class="problem_input"></textarea>
                        <label class="text__problem_input text_input">Ваш вопрос:</label>
                    </div>
                    <label for="checkbox" class="checkbox-container">
                        <input type="checkbox" id="checkbox" class="checkbox-input" required>
                        <span class="fake_checkbox"></span>
                        <span for="licenses_popup" class="checkbox-text">Я согласен на <a href="/personal-date.ejs">обработку персональных данных</a></span>
                    </label>
                </form>
                <button class="button_input" form="coolback" type="submit">Отправить</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer__container">
            <div class="footer__logo">
                <p class="footer__title">ГлобалХим</p>
            </div>
            <div class="footer__contact">
                <div class="footer__contact_email">
                    <svg class="contact__email_icon" width="41" height="34" viewBox="0 0 41 34" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5.7 2H35.3C37.335 2 39 3.665 39 5.7V27.9C39 29.935 37.335 31.6 35.3 31.6H5.7C3.665 31.6 2 29.935 2 27.9V5.7C2 3.665 3.665 2 5.7 2Z"
                            stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M39 5.70001L20.5 18.65L2 5.70001" stroke="white" stroke-width="3"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    <p class="contact__email_text">zhigadlov29@gmail.com</p>
                </div>
                <div class="footer__contact_tel">
                    <a href="tel: +79137424661"><svg class="contact__tel_icon" width="30" height="30"
                            viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M28.35 20.6333C26.3 20.6333 24.3167 20.3 22.4667 19.7C21.8833 19.5 21.2333 19.65 20.7833 20.1L18.1667 23.3833C13.45 21.1333 9.03333 16.8833 6.68333 12L9.93333 9.23333C10.3833 8.76667 10.5167 8.11667 10.3333 7.53333C9.71667 5.68333 9.4 3.7 9.4 1.65C9.4 0.75 8.65 0 7.75 0H1.98333C1.08333 0 0 0.4 0 1.65C0 17.1333 12.8833 30 28.35 30C29.5333 30 30 28.95 30 28.0333V22.2833C30 21.3833 29.25 20.6333 28.35 20.6333Z"
                                fill="white" />
                        </svg></a>
                    <a href="tel: +79137424661" class="contact__tel_text">+7 (913) 742 46-61</a>
                </div>
            </div>
            <p class="footer__year">© 2022</p>
            <p class="producing">prod. by Zhiga</p>
        </div>
    </div>
</body>

</html>