.footer {
    background-color: #654FA8;;
    font-family: Montserrat;
    color: #fff;
    height: clamp(13.125rem, 12.195rem + 4.65vw, 15.625rem);
    padding: 0 40px;
}

.footer__container {
    max-width: 1180px;
    margin: 0 auto;
}
.footer__logo {
    display: inline-flex;
    align-items: center;
    padding-top: clamp(1.25rem, 0.552rem + 3.49vw, 3.125rem);
}
.footer__img {
    max-width: 75px;
    width: clamp(2.438rem, 1.6rem + 4.19vw, 4.688rem);
    height: clamp(2.5rem, 1.686rem + 4.07vw, 4.688rem);
}
.footer__title {
    margin-left: 5px;
    font-weight: 700;
    font-size: clamp(1rem, 0.535rem + 2.33vw, 2.25rem);
}
.footer__year {
    margin: 20px 0 10px 0;
    font-size: clamp(0.875rem, 0.828rem + 0.23vw, 1rem);
}
.footer__contact {
    margin-top: clamp(0.313rem, -3.79rem + 6.41vw, 0.938rem);
    display: flex;
    gap: 2vw;
}
.footer__contact_email {
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact__email_icon {
    width: clamp(1.625rem, 1.276rem + 1.74vw, 2.563rem);
}
p.contact__email_text {
    font-size: clamp(1rem, 0.953rem + 0.23vw, 1.125rem);
}
.footer__contact_tel {
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact__tel_icon {
    width: clamp(1.25rem, 0.762rem + 2.44vw, 2.563rem)
}
a.contact__tel_text {
    text-decoration: none;
    color: #fff;
    font-size: clamp(1rem, 0.953rem + 0.23vw, 1.125rem);
}
.producing {
    color: rgba(255, 255, 255, 0.7);
    font-size: clamp(0.625rem, 0.532rem + 0.47vw, 0.875rem);
}
