.coolback__container {
    font-family: 'Montserrat';
    max-width: 570px;
    width: clamp(18.75rem, 10.568rem + 40.91vw, 35.625rem);
    margin-top: 40px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 8px 5px rgba(75, 45, 166, 0.45);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: rgba(75, 45, 166, 1);
    font-weight: 500;
}


textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.form__title{
    margin: clamp(1rem, 0.576rem + 2.12vw, 1.875rem) 0;
    font-size: clamp(1.25rem, 0.947rem + 1.52vw, 1.875rem);
    font-weight: 600;
    text-align: center;
}

.form-container {
}
.form_coolback {
}
.input__name_container {
}
.class_input_container {
    height: 55px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}


.class_input {
    font-family: 'Montserrat';
    font-weight: 800;
    height: 100%;
    width: 100%;
    border: 2px solid rgba(75, 45, 166, 0.80);
    border-radius: 6px;
    font-size: 16px;
    padding: 4px 0px 4px 10px;
    color: rgba(75, 45, 166, 1);
    font-weight: 500;
}
.tel_input, .email_input{
    color: rgba(75, 45, 166, 1);
}
.class_input:focus{
    outline: none;
}

.problem_input:focus{
    outline: none;
}

.class_input:focus ~ .text_input,
.class_input:valid ~ .text_input {
    transform: translateY(-30px);
    font-size: 14px;
    color: rgba(75, 45, 166, 1);
    background-color: #FFF;
}


.text_input {
    font-weight: 500;
    position: absolute;
    bottom: 18px;
    left: 8px;
    pointer-events: none;
    transition: all 0.5s ease;
    padding: 0 4px;
}

.button_input {
    border-radius: 6px;
    max-width: 300px;
    margin: clamp(1.25rem, 1.114rem + 0.68vw, 1.625rem)  auto clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem) auto;
    font-family: 'Montserrat';
    color: #FFF;
    font-size: clamp(1.125rem, 0.943rem + 0.91vw, 1.5rem);
    background-color: #8571C2;
    border: none;
    padding: clamp(0.5rem, 0.455rem + 0.23vw, 0.625rem)  clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
    display: flex;
    align-items: center;
}

.input__problem_container {
    margin-bottom: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
    height: 80px;
}

.problem_input {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(75, 45, 166, 0.80);
    font-size: 16px;
    padding: 16px 8px 4px 8px;
    color: rgba(75, 45, 166, 1);
    font-weight: 500;
    font-family: 'Montserrat';
    resize: none;
    overflow: hidden;
    display: block;
}
textarea::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.text__problem_input{
    font-weight: 500;
    position: absolute;
    bottom: 40px;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.5s ease;
}

/*textarea:focus ~ .text__problem_input,
textarea:valid ~ .text__problem_input{


}
*/
.input__problem_container:focus ~ .text__problem_input,
.problem_input:focus ~ .text__problem_input,
.input__problem_container:valid ~ .text__problem_input,
.problem_input:valid ~ .text__problem_input {
    transform: translateY(-33px);
    font-size: 14px;
    color: rgba(75, 45, 166, 1);
    background-color: #FFF;
}
.flex-check{ 
    display: flex;
    align-items: center;
    gap: 10px;
}

.checkbox-coolback {
    border: #8571C2 1px solid;
    width: 16px;
    height: 16px;
}
.checkbox-text {
    font-weight: 500;
    font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);

}

/*.checkbox-input {
    display: none;
  }
  .checkbox-input:checked + label .checkbox:after {
    transform: translate(-50%, -50%) scale(1);
  }
  .checkbox {
    margin: 2px;
    padding: 2px;
   
    width: 18px;
    height: 18px;
    display: inline-block;
    position: relative;
  }
  .checkbox:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 12px;
    height: 12px;
    background-color: rgba(75, 45, 166, 0.9);
    border-radius: 3px;
    transition: 0.3s;
  }
  */

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 300px;
}

.checkbox-input {
    display: none;
}

.fake_checkbox{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(75, 45, 166, 0.9);
    border-radius: 3px;
    position: relative;
    min-width: 18px;
}

.fake_checkbox::before{
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    background-color: rgba(75, 45, 166, 0.9);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    opacity: 0;
    transition: 0.3s all;
}

.checkbox-input:checked + .fake_checkbox::before{
    opacity: 1;
}

.checkbox-text {
}


