@media (max-width: 826px) {
    .contact__mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    .header__menu {
        display: none;
    }
    .header__logo_text {
        font-size: clamp(1.125rem, 0.768rem + 1.79vw, 1.625rem);
    }
    .header__logo_img {
        width: clamp(2.5rem, 2.054rem + 2.23vw, 3.125rem);
        height: clamp(2.5rem, 2.054rem + 2.23vw, 3.125rem);
    }
}



@media (max-width: 998px){
    .about-us__botton-container {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        max-width: 300px;
        margin: 0 auto;
    }
}

/*@media (max-width: 1400px) {
    .swiper-button-prev {
        position: absolute;
        left: 0;
    }


    .slider__buttons{
        display: flex;
        justify-content: end;
    }    
}
*/
@media (max-width: 594px) {
    .footer__contact {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    .contact__tel_text {
        width: 150px;
    }

}


@media (max-width: 425px) {
    .geo__single {
        display: block;
    }
    
}

@media (max-width: 1024px) {
    .main {
        display: none;
    }
}



