.product-all {
    font-family: 'Montserrat';
    color: #4B2DA6;
}

.all__container {
    padding: 0 20px;
    max-width: 1210px;
    margin: 0 auto;
}

.product-all__title {
    font-weight: 500;
    text-align: center;
    margin: clamp(1.5rem, 0.916rem + 2.92vw, 3.125rem) 0;
    font-size: clamp(1.5rem, 0.961rem + 2.7vw, 3rem);
}

.product-all__container {
    padding: 0 20px;
    max-width: 1210px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: clamp(1.875rem, 0.976rem + 4.49vw, 4.375rem);
}

.product-all__title {

}

.product-all-slide { 
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 320px;
    background-color: rgba(75, 45, 166, 0.41);
    border-radius: 6px;
    margin: auto;
    height: clamp(32.5rem, 29.659rem + 14.2vw, 38.75rem);
}
.slide__thumb {

}


.slide__picture {
    max-width: 136px;
    width: clamp(6.25rem, 5.227rem + 5.11vw, 8.5rem);
    display: block;
    margin: auto;
    padding-top: 30px;
}
.slide__text {
    color: #fff;
    padding: 10px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.slide__text_title {
    font-size: clamp(1.125rem, 0.99rem + 0.67vw, 1.5rem);
    font-weight: 500;
    padding: 0 0 10px 0;
    line-height: 32px;
}
.slide__text_desc {
    font-size: clamp(0.875rem, 0.785rem + 0.45vw, 1.125rem);
    line-height: 27px;
    text-align: justify;
}

.slide__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin: 10px 20px 26px 10px; */
    max-width: 145px;
    background-color:rgba(75, 45, 166, 0.44);
    border-radius: 8px;
    padding: 8px 10px;
    transition: all 500ms;
}

.slide__button:hover {
    transition: 500ms;
    background-color: rgba(61, 13, 206, 0.44);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.25);
}

.slide__btn {
    padding: 0 20px 26px 0;
    display: flex;
    justify-content: end;
    cursor: pointer;
}
.link__btn {
    font-size: clamp(0.75rem, 0.693rem + 0.28vw, 0.875rem);
    color: #fff;
    line-height: 21px;
    text-decoration: none;
}
.button__icon {
    max-width: 31px;
    max-height: 16px;
    width: clamp(1.563rem, 1.392rem + 0.85vw, 1.938rem);
}

.product__button_all {
    background-color: #8571C2;
    border-radius: 6px;
    max-width: 300px;
    margin: 0 auto;
    padding: 22px 16px;
    margin-top: 72px;
    margin-bottom: 60px;
}

.button_all {
    font-size: clamp(0.875rem, 0.648rem + 1.14vw, 1.375rem);
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    display: flex;
    justify-content: center;
}