.telephone {
    position: fixed;
    right: 50px;
    top: 80vh;
    z-index: 777;
}   
.telephone-container {
    width: 70px;
    height: 70px;
    background-color: #4B2DA6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.telephone-svg{

}
@media (max-width: 768px) {
    .telephone {
        display: none;
    }
    
}