<div class="footer">
    <div class="footer__container">
        <div class="footer__logo">
            <p class="footer__title">ГлобалХим</p>
        </div>
        <div class="footer__contact">
            <div class="footer__contact_email">
                <svg class="contact__email_icon" width="41" height="34" viewBox="0 0 41 34" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M5.7 2H35.3C37.335 2 39 3.665 39 5.7V27.9C39 29.935 37.335 31.6 35.3 31.6H5.7C3.665 31.6 2 29.935 2 27.9V5.7C2 3.665 3.665 2 5.7 2Z"
                        stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M39 5.70001L20.5 18.65L2 5.70001" stroke="white" stroke-width="3"
                        stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <p class="contact__email_text">zhigadlov29@gmail.com</p>
            </div>
            <div class="footer__contact_tel">
                <a href="tel: +79137424661"><svg class="contact__tel_icon" width="30" height="30"
                        viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M28.35 20.6333C26.3 20.6333 24.3167 20.3 22.4667 19.7C21.8833 19.5 21.2333 19.65 20.7833 20.1L18.1667 23.3833C13.45 21.1333 9.03333 16.8833 6.68333 12L9.93333 9.23333C10.3833 8.76667 10.5167 8.11667 10.3333 7.53333C9.71667 5.68333 9.4 3.7 9.4 1.65C9.4 0.75 8.65 0 7.75 0H1.98333C1.08333 0 0 0.4 0 1.65C0 17.1333 12.8833 30 28.35 30C29.5333 30 30 28.95 30 28.0333V22.2833C30 21.3833 29.25 20.6333 28.35 20.6333Z"
                            fill="white" />
                    </svg></a>
                <a href="tel: +79137424661" class="contact__tel_text">+7 (913) 742 46-61</a>
            </div>
        </div>
        <p class="footer__year">© 2022</p>
        <p class="producing">prod. by Zhiga</p>
    </div>
</div>