<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./css/media.css">
    <link rel="stylesheet" href="./css/nullstyle.css">
    <link rel="stylesheet" href="./css/fonts.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/product-all.css">
    <link rel="stylesheet" href="./css/footer.css">

    <title>Экол-ЭКС-4</title>
</head>
<body>
    <%- include('../blocks/header.ejs'); -%>
    <div class="info-product">
        <div class="info-product__container">
            <div class="name__product">
                <img src="./img/product/exol-4.png" alt="product" class="product__img">
                <h2 class="product__title">Экол-ЭКС-4</h2>
            </div>
            <div class="description__product">
                <p>Смесь для опалубки с характерным не резким запахом, созданная без каких либо механических примесей.
                Используется перед заливкой бетона для обработки опалубки. Отличительными чертами является высокий показатель адгезии как относительно бетона, так и по отношению к формам для заливки, причем, одинаково хорошо подходит для всех форм и материалов (дерево, композиты, металл и даже пластик). <br> <br>
                Смесь выгодно отличается от аналогов отсутствием необходимости ожидания, пока смесь засохнет, т.к. работу можно начинать сразу после нанесения на опалубку. <br> <br>
                Способы нанесения эмульсии различны и для всех состав отлично подходит, однако наиболее подходящим вариантом является разбрызгивание пульверизатором. <br> <br>
                Когда придет время снять опалубку, которую обработали смесью,  то кроме легкого снятия стенок Вас также будет ждать приятное открытие, что бетон и некоторые части опалубки практически не будут нуждаться в дополнительной очистке.
                </p>
            </div>
        </div>
    </div>
    <%- include('../blocks/footer.ejs'); -%>
</body>
</html>