<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/media.css">
    <link rel="stylesheet" href="/public/css/nullstyle.css">
    <link rel="stylesheet" href="/public/css/fonts.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/info-product.css">
    <link rel="stylesheet" href="/public/css/footer.css">

    <title>Двухкомпонентные полиуретановые смолы в строительстве</title>
</head>
<body>
    <%- include('../blocks/header.ejs'); -%>
    <div class="info-product">
        <div class="info-product__container">
            <div class="name__product geo__con">
                <img src="/public/img/products/geoflex.png" alt="product" class="product__img geo__gorn">
                <div class="text__product-container">
                    <h2 class="product__title">Geoflex (для строительства)</h2>
                    <p class="product__price">2140.00 руб / 10 литров</p>
                </div>
            </div>
            <div class="description__product">
                <p> Двухкомпонентная смола, применяемая для инъекционных работ. Медленно реагирует и при этом очень эластична. <br> <br>
                    Благодаря своим свойствам отлично подходит для: тампонажа (заполнения трещин) в бетонных конструкциях, расширенной изоляции, строительстве бетонных фундаментов. Помимо этого, смола пригодна для использования в парковых настилах, диафрагмах плотин и для облицовки туннелей. <br> <br>
                    Способ подачи в конструкцию очень прост: отдельные компоненты состава подаются через установленные в бетонных конструкциях шланги в смеситель, где перемешиваются, после чего отправляются в инъектор и уже готовый состав нагнетается до тех пор, пока смола не заполнит трещину до контрольных отверстий. <br> <br>
                    К достоинствам нашей смолы можно отнести низкую вязкость, высокую эластичность, высокую сопротивляемость разрыву, также морозостойкость из-за низкой температуры стеклования, в связи, с чем она не разрушается при понижении температур. <br> <br>
                    Практически мгновенно отвердевающая двухкомпонентная смола для инъекций, в составе которой отсутствуют галогены и фреоны. <br> <br>
                    Применяется для: укрепления и заполнения трещин в водоносных зонах, укрепления обводненных пород , тампонирования трещин от 0.25 мм, изоляции от воды находящейся под сильным давлением (например, тоннели метро или дамбы) и бестраншейного ремонта подземных сооружений и конструкций. <br> <br>
                    Это становится возможным благодаря составу смолы, из-за которого при контакте с водой, смола вступает с ней в реакцию, образуя эластичную пену, что и препятствует дальнейшему притоку воды.
                </p>
            </div>
        </div>
    </div>
    <%- include('../blocks/footer.ejs'); -%>
</body>
</html>