<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/public/css/media.css">
    <link rel="stylesheet" href="/public/public/css/nullstyle.css">
    <link rel="stylesheet" href="/public/public/css/fonts.css">
    <link rel="stylesheet" href="/public/public/css/header.css">
    <link rel="stylesheet" href="/public/public/css/info-product.css">
    <link rel="stylesheet" href="/public/public/css/footer.css">
    
    <title>Однокомпонентные полиуретановые смолы в строительстве</title>
</head>
<body>
    <%- include('../blocks/header.ejs'); -%>
    <div class="info-product">
        <div class="info-product__container">
            <div class="name__product geo__con">
                <img src="/public/img/product/geoflex.png" alt="product" class="product__img geo__gorn">
                <div class="text__product-container">
                    <h2 class="product__title">Geoflex (для строительства)</h2>
                    <p class="product__price">2140.00 руб / 10 литров</p>
                </div>
            </div>
            <div class="description__product">
                <p> Однокомпонентная смола коричневого цвета, применяемая без смешивания, не содержащая в своем составе пластификатора на фталатной основе, углерода,   фтора и хлора и не реагирующая с водой.  <br> <br>
                Используется для заделки скважин от бурения, гидроизоляции конструкций, герметизация дегазационных скважин и для изоляций при прокладке туннелей. <br> <br>
                Довольно проста в применение: состав при помощи насоса через инъектор нагнетается в водоносные зоны, где при контакте с водой начинается реакция вспенивания и затвердевания смолы. В целом весь процесс занимает чуть более 30 минут в зависимости от температуры воды. <br> <br>
                Перед применением, для достижения смолой оптимальной температуры, ее необходимо обязательно на протяжении суток прогревать компоненты при температуре более 20°С, при этом избегая перегрева стенок канистры.    
                </p>
            </div>
        </div>
    </div>
    <%- include('../blocks/footer.ejs'); -%>
</body>
</html>