<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/media.css">
    <link rel="stylesheet" href="/public/css/nullstyle.css">
    <link rel="stylesheet" href="/public/css/fonts.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/info-product.css">
    <link rel="stylesheet" href="/public/css/footer.css">
    <title>Селикатные смолы для горного дела</title>
</head>
<body>
    <%- include('../blocks/header.ejs'); -%>
    <div class="info-product">
        <div class="info-product__container">
            <div class="name__product">
                <img src="/public/img/products/geoflex.png" alt="product" class="product__img geo__gorn">
                <div class="text__product-container">
                    <h2 class="product__title">Geoflex (для горного дела)</h2>
                    <p class="product__price">2140.00 руб / 10 литров</p>
                </div>
            </div>
            <div class="description__product">
                <p>Тугопластичная двухкомпонентная прочная смола на силикатной основе, не требующая вспенивания, применяемая для заполнения, как сухих, так и влажных   трещин, гидроизоляции, крепления анкеров для инъекций и подходящая для укрепления и связки грунта. 
                <br> <br> При правильном использовании смолы, удается избежать увеличения ее объема и как следствие трещин и разрушений. Это становится возможным из-за состава смолы, а также способа подачи, который заключается в подаче по отдельным шлангам двух основных компонентов в смеситель, где уже начинается процесс затвердевания, после чего под давлением от 60 бар смесь нагнетается через герметизатор и анкерную систему.
                Благодаря составу смола быстро затвердевает (реакция занимает около 4 минут), способна деформироваться под влиянием внешних нагрузок, при этом, не разрушаясь, полностью игнорирует воду, не вступая с ней в реакцию, а также имеет высокую устойчивость к щелочам, кислотам и солям. 
                <br> <br>Перед применением, для достижения смолой оптимальной температуры, ее необходимо обязательно на протяжении суток прогревать компоненты при температуре более 20°С, при этом избегая перегрева стенок канистры.
                </p>
            </div>
        </div>
    </div>
    <%- include('../blocks/footer.ejs'); -%>
</body>
</html>