<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/public/css/media.css">
    <link rel="stylesheet" href="/public/public/css/nullstyle.css">
    <link rel="stylesheet" href="/public/public/css/fonts.css">
    <link rel="stylesheet" href="/public/public/css/header.css">
    <link rel="stylesheet" href="/public/public/css/info-product.css">
    <link rel="stylesheet" href="/public/public/css/footer.css">

    <title>Однокомпонентная полиуретановая смола</title>
</head>
<body>
    <%- include('../blocks/header.ejs'); -%>
    <div class="info-product">
        <div class="info-product__container">
            <div class="name__product geo__single">
                <img src="/public/img/product/geoflex.png" alt="product" class="product__img">
                <div class="text__product-container">
                    <h2 class="product__title">Однокомпонентная полиуретановая смола</h2>
                    <p class="product__price">2140.00 руб / 10 литров</p>
                </div>
            </div>
            <div class="description__product">
                <p>Однокомпонентная смола низкой вязкости, применяемая при закреплении гидроизоляции разрушенной породы или деформированных и температурных швов, а также для остановки водопритока, как соленой, так и пресной воды, под давлением и для укрепления швов путем нагнетания в трещины. <br> <br>
                За счет состава при контакте с водой смесь вспенивается и затвердевает, заполняя трещину. <br> <br>
                Имеется возможность регуляции реактивности смеси при необходимости, путем добавления в нее специального катализатора. <br> <br>
                Нагнетание происходит при помощи инъектора при помощи насосов (ручного, пневматического и др.). В случае, если воды слишком мало, то стоит произвести дополнительное нагнетание воды.    
                </p>
            </div>
        </div>
    </div>
    <%- include('../blocks/footer.ejs'); -%>
</body>
</html>