<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="public/img/sites-icon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/public/css/media.css">
    <link rel="stylesheet" href="/public/css/nullstyle.css">
    <link rel="stylesheet" href="/public/css/fonts.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/info-product.css">
    <link rel="stylesheet" href="/public/css/footer.css">

    <title>Добавка для бетона</title>
</head>
<body>
    <%- include('../blocks/header.ejs'); -%>
    <div class="info-product">
        <div class="info-product__container">
            <div class="name__product">
                <img src="/public/img/product/geoflex.png" alt="product" class="product__img">
                <div class="text__product-container">
                    <h2 class="product__title">Добавка для бетона</h2>
                    <p class="product__price">2140.00 руб / 10 литров</p>
                </div>
            </div>
            <div class="description__product">
                <p>Универсальная смазка для опалубки желтовато-коричневого цвета, облегчающая процесс отделения от бетона элементов конструкции и не оставляющая после себя повреждения. <br> <br>
                Обладает высокой стойкостью к коррозии металлов и не оставляет после себя жирных пятен. <br> <br>
                Не имеет острого запаха, безвредна для здоровья и не наносит вред окружающей среде. <br> <br>
                Проста в использовании: наносится пульверизатором или валиком. <br>
                Состав даже после нанесения на вертикальные поверхности не будет стекать из-за особенностей своего состава.
                </p>
            </div>
        </div>
    </div>
    <%- include('../blocks/footer.ejs'); -%>
</body>
</html>