<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/media.css">
    <link rel="stylesheet" href="/public/css/nullstyle.css">
    <link rel="stylesheet" href="/public/css/fonts.css">
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/product-all.css">
    <link rel="stylesheet" href="/public/css/footer.css">

    <title>Наша продукция</title>
</head>

<body>
    <%- include('../blocks/header.ejs'); -%>
    <div class="product-all">
        <div class="all__container">
            <h2 class="product-all__title">Наша продукция</h2>
            <div class="product-all__container">
                <div class="product-all-slide">
                    <div class="slide__thumb">
                        <img src="/public/img/products/exol-4.png" alt="picture" class="slide__picture slide__picture-exol">
                    </div>
                    <div class="slide__text">
                        <div class="slide__text_title">Экол-ЭКС-4</div>
                        <div class="slide__text_desc">Смесь для опалубки с характерным не резким запахом, созданная без каких либо механических примесей. Используется перед заливкой бетона для обработки опалубки...</div>
                    </div>
                    <div class="slide__bottom">
                        <p class="slide_price">2140.00 руб / <br> 10 литров</p>
                        <a href="/products/exol-4" class="slide__btn">
                            <div class="slide__button">
                                <div class="button__link">
                                    <a href="/products/exol-4" class="link__btn">Подробнее</a>
                                </div>
                                <svg class="button__icon" width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22.4216 0L21.0234 1.2975L27.2242 7.08109H0V8.91891H27.2242L21.0234 14.7025L22.4216 16L31 8L22.4216 0Z" fill="white"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="product-all-slide">
                    <div class="slide__thumb">
                        <img src="/public/img/products/geoflex.png" alt="picture" class="slide__picture">
                    </div>
                    <div class="slide__text">
                        <div class="slide__text_title">Geoflex (для горного дела)</div>
                        <div class="slide__text_desc">Тугопластичная двухкомпонентная прочная смола на силикатной основе, применяемая для заполнения трещин...</div>
                    </div>
                    <div class="slide__bottom">
                        <p class="slide_price">2140.00 руб / <br> 10 литров</p>
                        <a href="/products/geoflex-mining" class="slide__btn">
                            <div class="slide__button">
                                <div class="button__link">
                                    <a href="/products/geoflex-mining" class="link__btn">Подробнее</a>
                                </div>
                                <svg class="button__icon" width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22.4216 0L21.0234 1.2975L27.2242 7.08109H0V8.91891H27.2242L21.0234 14.7025L22.4216 16L31 8L22.4216 0Z" fill="white"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="product-all-slide">
                    <div class="slide__thumb">
                        <img src="/public/img/products/geoflex.png" alt="picture" class="slide__picture">
                    </div>
                    <div class="slide__text">
                        <div class="slide__text_title">Geoflex (для строительства)</div>
                        <div class="slide__text_desc">Двухкомпонентная смола, применяемая для инъекционных работ. Медленно реагирует и при этом очень эластична...</div>
                    </div>
                    <div class="slide__bottom">
                        <p class="slide_price">2140.00 руб / <br> 10 литров</p>
                        <a  href="/products/geoflex-construction" class="slide__btn">
                            <div class="slide__button">
                                <div class="button__link">
                                    <a href="/products/geoflex-construction" class="link__btn">Подробнее</a>
                                </div>
                                <svg class="button__icon" width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22.4216 0L21.0234 1.2975L27.2242 7.08109H0V8.91891H27.2242L21.0234 14.7025L22.4216 16L31 8L22.4216 0Z" fill="white"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="product-all-slide">
                    <div class="slide__thumb">
                        <img src="/public/img/products/geoflex.png" alt="picture" class="slide__picture">
                    </div>
                    <div class="slide__text">
                        <div class="slide__text_title">Geoflex (для строительства)</div>
                        <div class="slide__text_desc">Однокомпонентная смола коричневого цвета, применяемая без смешивания, не содержащая в своем составе пластификатора на фталатной основе...</div>
                    </div>
                    <div class="slide__bottom">
                        <p class="slide_price">2140.00 руб / <br> 10 литров</p>
                        <a  href="/products/geoflex-construction-single" class="slide__btn">
                            <div class="slide__button">
                                <div class="button__link">
                                    <a href="/products/geoflex-construction-single" class="link__btn">Подробнее</a>
                                </div>
                                <svg class="button__icon" width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22.4216 0L21.0234 1.2975L27.2242 7.08109H0V8.91891H27.2242L21.0234 14.7025L22.4216 16L31 8L22.4216 0Z" fill="white"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="product-all-slide">
                    <div class="slide__thumb">
                        <img src="/public/img/products/geoflex.png" alt="picture" class="slide__picture">
                    </div>
                    <div class="slide__text">
                        <div class="slide__text_title">Geoflex (добавка для бетона)</div>
                        <div class="slide__text_desc">Универсальная смазка для опалубки желтовато-коричневого цвета, облегчающая процесс отделения от бетона элементов конструкции...</div>
                    </div>
                    <div class="slide__bottom">
                        <p class="slide_price">2140.00 руб / <br> 10 литров</p>
                        <a href="/products/geolflex-concrete" class="slide__btn">
                            <div class="slide__button">
                                <div class="button__link">
                                    <a href="/products/geolflex-concrete" class="link__btn">Подробнее</a>
                                </div>
                                <svg class="button__icon" width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22.4216 0L21.0234 1.2975L27.2242 7.08109H0V8.91891H27.2242L21.0234 14.7025L22.4216 16L31 8L22.4216 0Z" fill="white"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="product-all-slide">
                    <div class="slide__thumb">
                        <img src="/public/img/products/geoflex.png" alt="picture" class="slide__picture">
                    </div>
                    <div class="slide__text">
                        <div class="slide__text_title">Geoflex (однокомпонентная)</div>
                        <div class="slide__text_desc">Однокомпонентная смола низкой вязкости, применяемая при закреплении гидроизоляции или деформированных и температурных швов...</div>
                    </div>
                    <div class="slide__bottom">
                        <p class="slide_price">2140.00 руб / <br> 10 литров</p>
                        <a href="/products/geoflex-single" class="slide__btn">
                            <div class="slide__button">
                                <div class="button__link">
                                    <a href="/products/geoflex-single" class="link__btn">Подробнее</a>
                                </div>
                                <svg class="button__icon" width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M22.4216 0L21.0234 1.2975L27.2242 7.08109H0V8.91891H27.2242L21.0234 14.7025L22.4216 16L31 8L22.4216 0Z" fill="white"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../blocks/footer.ejs'); -%>
</body>

</html>